* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal {
  height: 500px;
  width: 500px;
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

ul {
  color: white;
}

button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
