@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Mynerve&family=Schoolbell&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Schoolbell, Arial, Helvetica, sans-serif;
}

body {
  background-color: #351e10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.modal-content {
  background-color: rgb(37, 21, 0);
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 2px solid rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 120px 40px 40px 40px;
}

.modal-content p {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.5em;
}

.photo-holder {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-holder img {
  height: 350px;
  width: 350px;
  object-fit: contain;
}

.modal-buttons {
  display: flex;
  gap: 40px;
  width: 300px;
  justify-content: space-around;
}

button:hover {
  background-color: rgb(45, 162, 204);
  border: none;
}

ul {
  color: rgb(133, 133, 133);
}

button {
  color: white;
  padding: 5px 10px;
  width: 80px;
  background-color: rgb(81, 153, 182);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
