* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #351e10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.modal-content {
  background-color: rgb(37, 21, 0);
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modal-content p {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  font-weight: 500;
}

.photo-holder {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-holder img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.modal-buttons {
  display: flex;
  gap: 40px;
  width: 300px;
  justify-content: space-around;
}

ul {
  color: rgb(133, 133, 133);
}

button {
  color: white;
  padding: 10px 0;
  width: 80px;
  background-color: rgb(113, 159, 177);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
